fastapi==0.78.0
uvicorn==0.17.6
joblib==1.1.0
Keras==2.9.0
tensorflow==2.9.1
numpy==1.21.6
scikit-learn==1.1.1
scipy==1.8.1
pandas==1.4.2
pydantic==1.9.1
matplotlib==3.5.2
shap==0.41.0
python-multipart==0.0.5
wget==3.2